.login-page {
  display: flex;
  background: #000;
}

.login-logo {
  margin: auto 0;
  padding: 0 175px;
}

.login-map {
  background: url(../../image/Map.png);
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}