.confirm {
    background-color: #fff;
    padding: 39px 41px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 486px;
}

.confirm-title {
    font-size: 38px;
    margin-bottom: 14px;
    font-weight: 700;
}

.confirm-text {
    color: #7B7B7B;
    margin-bottom: 32px;
}

.confirm-btn {
    width: 394px;
}
