.navigation {
  background-color: #000;
}

.n-container {
  width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.nav-list {
  color: #fff;
  display: flex;
}

.nav-list-item {
  margin-right: 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.active {
  color: #FDBF5A;
}

.nav-list-item:hover {
  color: #FDBF5A;
}

.nav-list-item:last-child {
  margin-right: 0;
}