.map-container {
  position: relative;
  height: 90vh;
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.map-booking {
  position: absolute;
  top: 20px;
  left: 29px;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}
